// ========================================
// Constants
// ========================================
@import "./constants/animations";
@import "./constants/base";
@import "./constants/mixins";
@import "./constants/variables";
@import "./constants/fonts";

// ========================================
// Components
// ========================================
@import "./components/header";
@import "./components/tab0-body";
@import "./components/tab2-body";
@import "./components/tabs";
@import "./components/accordion";

// ========================================
// Page Styles
// ========================================
.root {
  height: 100vh;
  width: 100vw;
  background-color: #261c2c;
  @include flexBox(column, center, center);
  .content {
    @include flexBox(row, space-between, center);
    width: 96vw;
    height: 91vh;

    .left {
      width: 63%;
      height: 100%;
      padding: 0.2rem;
      background-color: white;
      border-radius: 1.4rem;
    }
    .right {
      color: #eeeeee;
      width: 35%;
      height: 100%;
    }
  }
}

@include respond(phone) {
  .root {
    height: 100%;
    @include flexBox(column, center, center);
    .content {
      @include flexBox(column, space-between, center);
      width: 100%;
      height: 100%;

      .left {
        width: 91%;
        height: 100vh;
      }
      .right {
        width: 84%;
        height: 100vh;
      }
    }
  }
}
